- if @users.blank?
  %h2.search-title
    No results for
    %strong= @query
- else
  %h2.search-title
    Results for
    %strong= @query

  = form_tag change_friendships_path do
    .accounts
      = render partial: 'user', collection: @users
    .form-actions
      = submit_tag "Update selected friendships", disable_with: "Please wait...", class: 'btn btn-primary btn-large'

  -# super simple navigation since we don't know the number of pages
  %ul.pager
    %li{class: previous_page ? nil : 'disabled'}
      = link_to "Previous", params.merge(page: previous_page)
    %li{class: @users.count > 0 ? nil : 'disabled'}
      = link_to "Next", params.merge(page: next_page)

